Source: ros-indigo-ceres-solver
Section: misc
Priority: extra
Maintainer: Daniel Stonier <d.stonier@gmail.com>
Build-Depends: debhelper (>= 9.0.0), cmake, libblas-dev, libgflags-dev, libgoogle-glog-dev, liblapack-dev, libsuitesparse-dev, libtbb-dev
Homepage: 
Standards-Version: 3.9.2

Package: ros-indigo-ceres-solver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libblas-dev, libgflags-dev, libgoogle-glog-dev, liblapack-dev, libsuitesparse-dev, libtbb-dev, ros-indigo-catkin
Description: Ceres Solver - A non-linear least squares minimizer
